<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRUD Блюдо</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Список страв</h1>

  <form action="/dishes" method="POST">
    <input type="text" name="name" placeholder="Назва страви" required>
    <input type="number" name="price" placeholder="Ціна" required>
    <button type="submit">Додати страву</button>
  </form>

  <h1>Список страв</h1>
  <ul>
    <% dishes.forEach(dish => { %>
      <li><%= dish.name %> - <%= dish.price %> грн</li>
    <% }); %>
  </ul>
</body>
</html>
